
body {
	color: white;
	background-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}


#container {
	width: 700px;
	margin: 100px auto 20 auto;
	text-align: left;
}

#leftcol {
	float: left;
	text-align: right;
}

#rightcol {
	margin-left: 183px;
	border-left: 1px solid white;
	padding: 1px 25px 1px 20px;
	min-height: 340px;
}

#old_rightcol {

	height: 500px;
	overflow: auto;
	scrollbar-base-color: black;
	scrollbar-arrow-color: white;
	scrollbar-DarkShadow-Color: #333333; 

}

hr {
	border: 0px;
	border-bottom: 1px solid white;
	margin: 20px;
	
}
#leftcol hr {
		border-bottom: 1px solid black;
}


h1 {
	background-repeat: no-repeat;
	margin: 16px 14px 0px 0px;
	padding: 0px;
}

h1 a {
	padding: 0px;
	display: block;
	background-image: url(graphics/markkatzman.png);
	height: 29px;
	width: 167px;
}

h1 span { 
	display: none; 
}

.menu {
	text-align: right;
	margin: 15px 0px 20px 0px;
	font-size: 16px;
}

.menu a {
	text-decoration: none;
	padding: 3px 3px 3px 3px;
	margin-right: 20px;
	border: 1px solid black;
	
}

a:hover {
	background-color: #333333;

}

h4, p {
	margin-top: 23px;
}



ul { 
	margin: 0px; 
	padding: 0px; 
}

li { 
	margin-left: 15px; 
	margin-top: 15px;
}

li p{
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 0px;
	color: #999;

}

li p a {

	color: #999;

}
form {

}
form p {
	font-size: 11px;

}
input, textarea {
	margin-top: 2px;
	border: 1px solid white;
	background-color: black;
	color: #CCCCCC;
	padding: 2px;
}
